.surface {
  animation: moveRight 6s linear infinite;
}

.car {
  animation: suspension 1s linear infinite;
}

@keyframes moveRight {
  100% { transform: translateX(-3950px); }
}

@keyframes suspension {
  0%   { transform: translateY(-1px); }
  50%  { transform: translateY(2px); }
  100% { transform: translateY(-1px); }
}

.paused .surface { animation-play-state: paused; }
.paused .car { animation-play-state: paused; }
